<footer class="footer-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <div class="footer-items">
          <a class="navbar-brand">
            <p class="perelogo">PEREZOSO COMMUNITY</p>
          </a>
          <p style="color: #815f03; margin-top: -2px;">
            Unlock the full potential of crypto innovation and collaborative
            learning by joining our vibrant community, where passionate minds
            converge to share insights, trade strategies.
          </p>
          <div class="social-icons d-flex justify-content-center my-4">
            <a
              class="facebook"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="twitter" href="https://twitter.com/" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>

            <a class="reddit" href="https://www.reddit.com/" target="_blank">
              <i class="fa-brands fa-reddit"></i>
            </a>

            <a class="youtube" href="https://www.youtube.com/" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="discord" href="https://www.discord.com/" target="_blank">
              <i class="fa-brands fa-discord"></i>
            </a>
            <a
              class="telegram"
              href="https://www.telegram.com/"
              target="_blank"
            >
              <i class="fa-brands fa-telegram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
