<header id="header">
  <nav class="navbar navbar-expand navbar-fixed-top">
    <div class="container header">
      <!-- Logo -->
      <a class="navbar-brand">
        <p class="perelogo">PEREZOSO</p>
      </a>

      <div class="ml-auto"></div>

      <!-- Navbar Nav -->
      <ul class="navbar-nav items mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/raffle">Raffle Draw</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Buy Token</a>
        </li>
      </ul>

     

      <ul class="navbar-nav action">
        <li class="nav-item ml-2">
          <a class="btn ml-lg-auto btn-bordered-white"
            ><i class="fa-solid fa-wallet mr-md-2"></i>Wallet Connect</a
          >
        </li>
      </ul>
      <ul class="navbar-nav toggle">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#menu">
            <i class="fa-solid fa-bars m-0"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
