<header id="header">
  <nav class="navbar navbar-expand navbar-fixed-top">
    <div class="container header">
      <!-- Logo -->
      <a class="navbar-brand">
        <p class="perelogo">PEREZOSO</p>
      </a>

      <div class="ml-auto"></div>

      <ul class="navbar-nav items mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/raffle">Raffle Draw</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/leaderboard">Leaderboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Buy Token</a>
        </li>
      </ul>

      <ul class="navbar-nav action">
        <li class="nav-item ml-2">
          <a class="btn ml-lg-auto btn-bordered-white"
            ><i class="fa-solid fa-wallet mr-md-2"></i>Wallet Connect</a
          >
        </li>
      </ul>
      <ul class="navbar-nav toggle">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#menu">
            <i class="fa-solid fa-bars m-0"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div id="menu" class="modal fade p-0">
  <div class="modal-dialog dialog-animated">
    <div class="modal-content h-100">
      <div class="modal-header" data-bs-dismiss="modal" style="color: #fff">
        Menu <i class="far fa-times-circle icon-close"></i>
      </div>
      <div class="menu modal-body">
        <div class="row w-100">
          <div class="items p-0 col-12 text-center">
            <ul class="navbar-nav items mx-auto">
              <li
                class="nav-item"
                data-bs-dismiss="modal"
                style="font-size: 20px"
              >
                <a class="nav-link" routerLink="/">Home</a>
              </li>
              <li
                class="nav-item"
                data-bs-dismiss="modal"
                style="font-size: 20px"
              >
                <a class="nav-link" routerLink="/raffle">Raffle Draw</a>
              </li>
              <li
                class="nav-item"
                data-bs-dismiss="modal"
                style="font-size: 20px"
              >
                <a class="nav-link" routerLink="/leaderboard">Leaderboard</a>
              </li>

              <li
                class="nav-item"
                data-bs-dismiss="modal"
                style="font-size: 20px"
              >
                <a class="nav-link" routerLink="/">Buy Token</a>
              </li>
              <li
                class="nav-item"
                data-bs-dismiss="modal"
                style="font-size: 20px"
              >
                <a class="btn ml-lg-auto btn-bordered-white"
                  ><i class="fa-solid fa-wallet mr-md-2"></i>Wallet Connect</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
