h3 {
  font-size: 25px;
}
.balance {
  font-size: 15px !important;
}
label {
  color: white;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
li {
  color: white;
}
input {
  border-color: #f7f7f7e6 !important;
  color: #f7f7f7e6;
}

@media screen and (max-width: 600px) {
  li {
    font-size: 14px !important;
  }
}
