<section class="hero-section">
  <div class="leaderboard-area">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table token-content table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Address</th>
                  <th scope="col">Winning</th>
                  <th scope="col">USD</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>0x2241141....839dj33</td>
                  <td>{{ 1000000 | number }} PRZS</td>
                  <td>{{ 230 | currency }}</td>
                  <td>22/03/2024</td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>0x1a5e92f....k2vnc74</td>
                  <td>{{ 500000 | number }} PRZS</td>
                  <td>{{ 120 | currency }}</td>
                  <td>18/04/2024</td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>0xb837cfe....s8vfh29</td>
                  <td>{{ 750000 | number }} PRZS</td>
                  <td>{{ 180 | currency }}</td>
                  <td>30/05/2024</td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>0x75d124c....m9eic63</td>
                  <td>{{ 200000 | number }} PRZS</td>
                  <td>{{ 50 | currency }}</td>
                  <td>12/06/2024</td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>0xc493fa2....x7nsp84</td>
                  <td>{{ 300000 | number }} PRZS</td>
                  <td>{{ 90 | currency }}</td>
                  <td>05/07/2024</td>
                </tr>
                <tr>
                  <td>06</td>
                  <td>0x9f7e351....o5ush28</td>
                  <td>{{ 600000 | number }} PRZS</td>
                  <td>{{ 150 | currency }}</td>
                  <td>20/08/2024</td>
                </tr>
                <tr>
                  <td>07</td>
                  <td>0x4d83ea9....v2msc94</td>
                  <td>{{ 400000 | number }} PRZS</td>
                  <td>{{ 100 | currency }}</td>
                  <td>10/09/2024</td>
                </tr>
                <tr>
                  <td>08</td>
                  <td>0x8c71fbd....z3vkc67</td>
                  <td>{{ 900000 | number }} PRZS</td>
                  <td>{{ 210 | currency }}</td>
                  <td>15/10/2024</td>
                </tr>
                <tr>
                  <td>09</td>
                  <td>0x67f38c2....t9pux51</td>
                  <td>{{ 1200000 | number }} PRZS</td>
                  <td>{{ 280 | currency }}</td>
                  <td>28/11/2024</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>0xf2a7c9e....l4kwd36</td>
                  <td>{{ 800000 | number }} PRZS</td>
                  <td>{{ 190 | currency }}</td>
                  <td>03/12/2024</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
